<p [ngClass]="classes">
  directory works!
</p>

<p *ngIf="test">testcvxcvx</p>

<h2>Ninja's Listing</h2>
<ul id="ninja-listing">
	<li *ngFor="let item of list">
		<div class = "single-ninja">
			<span [ngStyle]="{background:item.belt}">{{item.belt}} belt</span>
			<h3>{{ item.name | uppercase | slice:1:3 }}</h3>
			<div (click) = "remove($event)" [attr.data-name]="item.name">delete</div>
		</div>
	</li>
</ul>

<style type="text/css">
	.blue{
		color:blue;
	}
	.red{
		color:red;
	}
	.underline{
		text-decoration: underline;
	}
</style>