<p [ngClass]="classes">
  directory works!
</p>

<p *ngIf="test">testcvxcvx</p>

<h2>Ninja's Listing</h2>
<form id="filter">
	<label>Filter Ninja's by name:</label>
	<input type="text" [(ngModel)]="term" name="term"/>
</form>
	<ul id="ninja-listing">
		<li *ngFor="let item of list | gongFilter:term">
			<div class = "single-ninja">
				<span [ngStyle]="{background:item.belt}">{{item.belt}} belt</span>
				<h3>{{ item.name }}</h3>
				<div (click) = "remove($event)" [attr.data-name]="item.name">delete</div>
			</div>
		</li>
	</ul>	
	
	<button (click) = "logIt()">Log Me</button>
	<form id = "add-ninja">
		<input type="text" [(ngModel)]="name" name="name">
		<input type="text" [(ngModel)]="belt" name="belt">
		<button (click)="fbPostData(name,belt)">Add Ninja</button>
	</form>

<style type="text/css">
	.blue{
		color:blue;
	}
	.red{
		color:red;
	}
	.underline{
		text-decoration: underline;
	}
</style>